@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: ‘Montserrat’, sans-serif;
  /* background-color: #0e0f26; */
  color: #fff;
}

body {
  background-color: #0e0f26;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23302399' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%235F23A5'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.coin-cap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  color: white;
}

.coin-input::placeholder {
  font-size: large;
  color: white;
}

.coin-input:hover {
  filter: drop-shadow(0px 0px 25px rgba(139, 0, 139, 0.5));
}

.LineChart {
  background-color: #0e0f26;
  border: 1px solid #302399;
  width: 100vh;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease-out;
}

.LineChart:hover {
  border-radius: 16px;
  filter: drop-shadow(0px 0px 10px rgba(139, 0, 139, 0.5));
}

.header {
  padding-bottom: 20px;
  width: 100%;
}

/* Web3 */
.btn-div {
  background-color: #0e0f26;
  /* border: 1px solid #302399; */
  padding: 10px;
  width: auto;
  max-width: 20vh;
  margin: auto;
}

.btn {
  margin: auto;
  padding: 10px;
  background-color: #0e0f26;
  border: 1px solid #302399;
  border-radius: 16px;
  font-family: ‘Montserrat’, sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn:hover {
  border-radius: 16px;
  box-shadow: 0px 0px 10px #5f23a5;
  background-color: rgba(139, 0, 139, 0.5);
}

.wallet-info {
  margin: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
