.coin-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  border-bottom: 1px solid #302399;
  max-width: 900px;
  width: 100%;
  margin: 20px 0;
  padding: 12px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.coin-row:hover {
  border-radius: 16px;
  box-shadow: 0px 0px 10px #5f23a5;
  background-color: rgba(139, 0, 139, 0.5);
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

/* .coin:hover {
  box-shadow: 0 8px 16px 0 #5f23a5;
} */

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.coin-symbol {
  text-transform: uppercase;
}
.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* .coin-data:hover {
  box-shadow: 0 8px 16px 0 #5f23a5;
} */

.coin-price {
  width: 110px;
}
.coin-volume {
  width: 200px;
}
.coin-marketing {
  width: 240px;
}
.coin-percent {
  width: 100%;
}
.red {
  color: #eb2f06;
}

.green {
  color: #78e08f;
}

/* Extra content*/
.extra-box {
  font-family: ‘Montserrat’, sans-serif;
  border: 1px solid 8px 16px 0 #5f23a5;
  align-items: center;
  justify-content: center;
  padding: 10px;
  max-width: 1000px;
}

.info {
  font-family: ‘Montserrat’, sans-serif;
  color: fff;
  border-bottom: 1px solid #302399;
  padding-bottom: 8px;
  max-width: 900px;
  width: 100%;
  white-space: break-spaces;
  /* text-align: center; */
}

/* table {
  font-family: ‘Montserrat’, sans-serif;
  color: fff;
  text-align: center;
  border: 1px solid 8px 16px 0 #5f23a5;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

td {
  font-family: ‘Montserrat’, sans-serif;
  color: fff;
  text-align: center;
  border: 1px solid 8px 16px 0 #5f23a5;
  align-items: center;
  justify-content: center;
  padding: 10px;
} */

table,
th,
td {
  border: 1px solid #302399;
  padding: 5px;
  margin: 10px;
  border-collapse: collapse;
  justify-content: center;
}

td {
  text-align: center;
}

th {
  background-color: #5f23a5;
  color: white;
}

table {
  border-radius: 24px;
  margin: 8px auto;
}

.buy {
  background-color: green;
  padding: 8px;
}

/* buy button*/
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: auto;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: green;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: lightgreen;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.purchase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.purchase input {
  color: white;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #5f23a5;
  background-color: rgba(139, 0, 139, 0.5);
  font-family: ‘Montserrat’, sans-serif;
  transition: all 0.5s ease-out;
  padding: 8px;
}

input:hover {
  box-shadow: 0px 0px 10px #5f23a5;
  background-color: rgba(139, 0, 139, 0.5);
}
